$dir: '../fonts';

@mixin font-face($name: sans-serif, $weight: 400, $style: normal) {
  @font-face {
    font-family: $name;
    src: url($dir + '/' + $name + '/' + $name + '-' + $weight + '-' + $style + '.woff2') format('woff2'),
    url($dir + '/' + $name + '/' + $name + '-' + $weight + '-' + $style + '.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face(Muller, 300, normal)
@include font-face(Muller, 300, italic)
@include font-face(Muller, 400, normal)
@include font-face(Muller, 400, italic)
@include font-face(Muller, 500, normal)
@include font-face(Muller, 500, italic)
@include font-face(Muller, 700, normal)
@include font-face(Muller, 700, italic)
