@import '../vars';

.about {
  width: 50%;
  flex-shrink: 0;
  margin-left: auto;

  @media (min-width: $b_desktop) {
    max-width: 702px;
  }

  @media (max-width: $b_mobile) {
    width: 100%;    
  }

  &_note {
    display: block;
    padding-top: 30px;
    padding-left: 13px;
    padding-bottom: 17px;

    color: rgba(0, 0, 0, .4);
    font-family: Muller, sans-serif;
    font-size: 15px;
    line-height: 20px;

    @media (min-width: $b_desktop) {
      padding-top: 60px;
      padding-left: 121px;
      padding-bottom: 12px;
    }
  }

  &_title {
    display: block;
    padding-left: 14px;

    color: #03032a;
    font-family: Muller, sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.95px;
    line-height: 30px;

    @media (min-width: $b_desktop) {
      padding-left: 118px;

      color: #03032a;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -1.36px;
      line-height: 44px;
    }
  }

  &_line {
    margin-top: 26px;
    margin-bottom: 18px;
    width: 58px;
    height: 4px;

    background-color: #009cff;

    @media (min-width: $b_desktop) {
      margin-top: 21px;
      margin-left: 40px;
      width: 125px;
    }
  }

  &_text {
    display: block;
    padding-left: 15px;
    padding-right: 16px;
    margin-bottom: 30px;

    color: rgba(0, 0, 0, .8);
    font-family: Muller, sans-serif;
    font-size: 13px;
    letter-spacing: -0.13px;
    line-height: 20px;

    p {
      margin-bottom: 20px;
    }

    @media (min-width: $b_desktop) {
      padding-left: 156px;
      width: 450px;

      color: rgba(0, 0, 0, .8);
      font-size: 15px;
      letter-spacing: -0.15px;
      line-height: 21px;
    }
  }
}
