@import '../vars';

.articles {
  &_link {
    display: block;
    padding: 0 16px 0 15px;
    margin-bottom: 20px;

    color: #0094ff;
    font-family: Muller, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;


    @media (min-width: $b_desktop) {
      padding-left: 0;
    }
  }
}
