.audio {
  display: flex;
  align-items: center;

  @media (max-width: $b_mobile) {
    max-width: 500px;
  }

  &_button {
    position: relative;

    display: block;
    width: 32px;
    height: 32px;
    margin-right: 5px;

    background-image: linear-gradient(82deg, #0088ff 0%, #00a2ff 100%);
    border-radius: 50%;
    cursor: pointer;

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;

      width: 10px;
      height: 13px;

      background-image: url(../img/icon-play.svg);
      background-repeat: no-repeat;
      background-size: cover;

      transform: translate(-50%, -50%);
      @media (max-width: $b_mobile) {
        width: 3.1vw;
        height: 3.8vw;
        max-width: 16px;
        max-height: 19px;
      }
    }

    @media (max-width: $b_mobile) {
      width: 14vw;
      height: 14vw;
      max-width: 55px;
      max-height: 55px;
    }
  }

  &_progress {
    position: relative;

    width: 206px;
    height: 34px;
    margin-right: 16px;

    &::after {
      content: '';

      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      z-index: 3;

      background-image: url(../img/progress.svg);
      background-size: cover;
    }

    @media (max-width: $b_tablet) {
      width: 30%;
    }

    @media (max-width: $b_mobile) {
      flex: 1 0 50%;
      width: auto;
      height: 10vw;
      max-height: 55px;
    }
  }

  &_placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, .4);
  }

  &_fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    background-image: linear-gradient(82deg, #0088ff 0%, #00a2ff 100%);
  }

  &_time {
    color: rgba(0, 0, 0, .3);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.13px;
    line-height: 21px;
  }
}
