@import '../vars';

.reviews_title br {
  @media (max-width: $b_tablet) {
    display: none;
  }
}

.common {
  max-width: 1112px;
  margin: 0 auto;
  font-family: Muller, sans-serif;
  padding-bottom: 50px;

  &_title {
    display: block;
    margin-top: 60px;
    margin-left: 15px;
    margin-bottom: 22px;

    color: #03032a;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.95px;
    line-height: 30px;

    @media (min-width: $b_desktop) {
      margin-left: 0;
    }
  }

  &_row {
    @media (min-width: $b_desktop) {
      display: flex;
    }
  }

  &_col {
    &.-numbers {
      margin-right: 95px;
    }

    &.-partners {
      margin-top: 37px;

      @media (min-width: $b_desktop) {
        margin-top: 0;
      }
    }

    &.-articles {
      margin-top: 40px;

      @media (min-width: $b_desktop) {
        max-width: 321px;
        margin-top: 0;
        margin-left: auto;
      }
    }
  }

  &_name {
    display: flex;
    padding-left: 16px;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 285px;

    color: rgba(0, 0, 0, .35);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.51px;
    line-height: 1;

    @media (min-width: $b_desktop) {
      padding-left: 0;
    }

    a {
      display: inline-block;
      padding-bottom: 3px;

      text-decoration: none;

      border-bottom: 2px solid rgba(0, 0, 0, .35);
      color: currentColor;
    }
  }
}
