@import '../vars';

.courses {
  font-family: Muller, sans-serif;
  max-width: 1124px;
  margin: 0 auto;

  @media (min-width: $b_desktop) {
    margin-bottom: 53px;
  }

  &_note {
    display: block;
    margin-top: 38px;
    margin-left: 14px;
    margin-bottom: 10px;
    width: 232px;

    color: rgba(0, 0, 0, .4);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    @media (min-width: $b_desktop) {
      margin-left: 0;
      width: 100%;
      font-size: 15px;
    }
  }

  &_title {
    display: block;
    margin-left: 14px;

    color: #03032a;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.95px;
    line-height: 44px;

    @media (min-width: $b_desktop) {
      margin-left: 0;
      margin-bottom: 20px;

      color: #03032a;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -1.36px;
    }
  }

  &_filters {
    position: relative;

    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 14px;
    margin-bottom: 28px;
    width: 151px;
    height: 45px;
    padding: 0 25px;
    justify-content: space-between;
    box-sizing: border-box;

    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.61px;
    line-height: 35px;

    border-radius: 150px;
    background-image: linear-gradient(73deg, #0088ff 0%, #00a2ff 100%);

    cursor: pointer;

    &::after {
      content: '';

      display: block;
      width: 12px;
      height: 8px;

      background-image: url(../img/icon-arrow.svg);
    }

    @media (min-width: $b_desktop) {
      display: none;
    }
  }

  &_filtersItems {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    z-index: 99;

    display: none;

    background-color: black;
    border-radius: 10px;

    overflow: hidden;

    &.-open {
      display: block;
      width: 120%;
    }
  }

  &_filter {
    width: 100%;
    padding: 6px 14px 4px;
    background-color: black;
    border-bottom: 1px solid rgba(0, 0, 0, .3);

    &.-active {
      background-image: linear-gradient(73deg, #0088ff 0%, #00a2ff 100%);
    }
  }

  &_tabs {
    display: none;

    @media (min-width: $b_desktop) {
      display: flex;
      margin-bottom: 30px;
    }
  }

  &_tab {
    margin-right: 45px;

    color: rgba(0, 0, 0, .35);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.61px;
    line-height: 35px;
    text-decoration: none;

    transition: all .3s;

    &:last-of-type {
      margin-right: 0;
    }

    &.-active {
      color: #008fff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.61px;
      line-height: 35px;

      &::after {
        content: '';

        display: block;
        margin-top: 3px;
        width: 100%;
        height: 3px;

        background-color: #008fff;
      }
    }

    &:hover {
      color: #008fff;
    }
  }

  &_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: $b_desktop) {
      justify-content: space-between;
    }
  }
}
