@import '../vars';

.course {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 320px;
  height: 380px;
  margin-bottom: 1.5%;

  font-family: Muller, sans-serif;

  transition: .3s;

  @media (min-width: $b_desktop) {
    width: 549px;
    height: 380px;
    flex-shrink: 0;
    margin-bottom: 24px;

    overflow: hidden;

    border-radius: 25px;
  }

  @media (max-width: $b_tablet) {
    width: 49.3%;
  }

  @media (max-width: 599px) {
    width: 100%;
    margin-bottom: 12px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &.-show {
    opacity: 1;
  }

  &.-hide {
    position: absolute;
    right: 9999px;
    z-index: -1;

    opacity: 0;
  }

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;

    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;

    &.-mobile {
      @media (min-width: $b_desktop) {
        display: none;
      }
    }

    &.-desktop {
      @media (max-width: $b_desktop) {
        display: none;
      }
    }
  }

  &_gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-image: linear-gradient(205deg, rgba(1, 1, 42, 0) 0%, #01012a 100%);
    opacity: 0.85;

    @media (min-width: $b_desktop) {
      background-image: linear-gradient(219deg, rgba(1, 1, 42, 0) 0%, #01012a 100%);
    }
  }

  &_note {
    display: block;
    padding-top: 32px;
    padding-left: 19px;

    color: rgba(255, 255, 255, .6);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }

  &_line {
    margin-top: auto;
    margin-bottom: 25px;
    width: 88px;
    height: 3px;

    background-color: #008fff;
    opacity: 0.8;

    &.-blue {
      background-color: #008fff;
    }

    &.-red {
      background-color: #b51323;
    }

    &.-green {
      background-color: #329f04;
    }

    &.-purple {
      background-color: #d90cd3;
    }

    &.-gray {
      background-color: #b7b7b7;
    }

    &.-orange {
      background-color: #d9950c;
    }
  }

  &_title {
    display: block;
    margin-left: 19px;
    margin-bottom: 5px;

    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }

  &_desc {
    display: block;
    margin-left: 19px;
    padding-bottom: 28px;

    color: rgba(255, 255, 255, .6);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.15px;
    line-height: 21px;
  }
}
