@import '../vars';

.feedbackAction {
  position: fixed;
  top: 40vh;
  left: 80vw;
  z-index: 99;

  display: none;
  align-items: center;

  color: #ffffff;
  font-family: Muller, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;

  cursor: pointer;

  @media (min-width: $b_desktop) {
    display: flex;
  }

  &::before {
    content: '';

    display: block;
    width: 60px;
    height: 60px;
    margin-right: 11px;

    background-image: url(../img/icon-msg.svg);
    background-size: cover;
  }
}
