@import '../vars';

.footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: linear-gradient(22deg, #00001a 0%, #010139 100%);

  @media (min-width: $b_desktop) {
    padding-top: 50px;
  }

  &_wrap {
    @media (min-width: $b_desktop) {
      display: flex;
      max-width: 1140px;
      width: 100%;
      margin: 0 auto;
    }
  }

  .social_link {

    @media (max-width: $b_mobile) {
      width: 18px;
      height: 17px;
      box-sizing: border-box;
      margin-left: 0;

      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &_col {
    flex-shrink: 0;

    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 30px;
    }

    @media (min-width: $b_desktop) {
      &:nth-child(1) {
        width: 130px;
        margin-right: 80px;
      }

      &:nth-child(2) {
        max-width: 310px;
      }

      &:nth-child(3) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      &:nth-child(2),
      &:nth-child(3) {
        margin-top: 0;
      }
    }
  }

  &_logo {
    display: block;
    margin-bottom: 24px;
  }

  &_title {
    display: block;
    margin-bottom: 30px;
    max-width: 245px;

    color: rgba(255, 255, 255, .9);
    font-family: Muller, sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.21px;
    line-height: 19px;
  }

  &_text {
    display: block;
    color: rgba(255, 255, 255, .5);
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
  }

  &_col:nth-child(3) &_text {
    @media (min-width: $b_desktop) {
      width: 295px;
      text-align: right;
    }
  }

  &_row {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $b_desktop) {
      margin-right: -27px;
    }
  }

  &_item {
    margin: 5px 11px;


      @media (max-width: $b_mobile) {

        margin-bottom: 30px;

        &:nth-child(3) {
          margin-left: 0;
        }
      }
  }

  &_contacts {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 38px;
    margin-bottom: 29px;

    @media (min-width: $b_desktop) {
      max-width: 300px;
    }
  }

  &_contact {
    display: flex;
    flex-direction: column;
  }

  &_label {
    display: block;
    padding-bottom: 7px;

    text-align: right;
    color: rgba(255, 255, 255, .8);
    font-family: Muller, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.27px;
    line-height: 9px;
  }

  &_value {
    color: #ffffff;
    font-family: Muller, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 9px;
    text-decoration: none;
  }

  &_link {
    display: block;
    margin-top: 14px;
    padding-bottom: 54px;

    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-decoration: underline;
  }

  &_col:nth-child(3) &_link {
    @media (min-width: $b_desktop) {
      width: 310px;
      text-align: right;
    }
  }
}
