.headerMobile {
  width: 100%;
  padding: 8px 13px 8px 17px;
  align-items: center;

  background-image: linear-gradient(81deg, #0088ff 0%, #00a2ff 100%);

  &_link {
    color: #ffffff;
    font-family: Muller, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
  }

  &_delimiter {
    display: block;
    width: 1px;
    height: 33px;
    margin-left: auto;
    margin-right: 16px;

    background-color: rgba(255, 255, 255, .4);
  }

  &_menu {
    display: flex;
    width: 24px;
    padding: 0;
    margin: auto 0;
    flex-shrink: 0;

    color: #fff;

    border-top: 5px solid;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid;
    border-color: currentColor;
    background-color: transparent;

    cursor: pointer;

    &::before {
      content: '';

      display: block;
      width: 100%;
      height: 5px;
      margin-top: 5px;
      margin-bottom: 5px;

      background-color: currentColor;
    }
  }
}
