@import '../vars';

.header {
  position: relative;
  z-index: 100;

  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1151px) {
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
  }

  @media (max-width: 950px) {
    justify-content: unset;
    align-items: center;
    padding-right: 0;
  }

  &_logo {
    margin-top: 28px;
    margin-left: 17px;
    order: 1;
    flex-shrink: 0;

    @media (min-width: 1151px) {
      margin-left: 0;
      margin-top: 41px;
      padding-left: 15px;

      order: 0;
    }
  }

  &_slogan {
    max-width: 236px;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 17px;
    order: 1;

    color: rgba(255, 255, 255, .9);
    font-family: Muller, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.22px;
    line-height: 20px;

    @media (min-width: 440px) {
      margin-top: 25px;
      margin-left: 35px;
    }

    @media (min-width: 1151px) {
      max-width: 310px;
      margin-top: 40px;
      margin-left: 66px;
      order: 0;
    }
  }

  &_social {
    margin-top: 30px;
    margin-left: auto;
    margin-right: 21px;

    @media (max-width: 1150px) {
      display: none !important;
    }
  }

  &_nav {
    @media (max-width: 950px) {
      display: none !important;
    }
  }

  &_mobile {
    order: 0;
    display: none;

    @media (max-width: 950px) {
      display: flex;
    }
  }

  &_menu {
    @media (max-width: 950px) {
      display: none;
    }
  }
}
