@import '../vars';

.info {
  background-image: linear-gradient(71deg, #00001a 0%, #010139 100%);

  font-family: Muller, sans-serif;

  @media (min-width: $b_desktop) {
    padding-bottom: 40px;
  }

  &_wrap {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }

  &_col {
    @media (min-width: $b_desktop) {
      width: 550px;
      padding-right: 20px;
      box-sizing: border-box;
    }
  }

  &_note {
    display: block;
    padding-top: 28px;
    padding-left: 19px;

    color: rgba(255, 255, 255, .4);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    @media (min-width: $b_desktop) {
      padding-left: 0;
    }
  }

  &_title {
    display: block;
    margin-bottom: 40px;
    padding-top: 5px;
    padding-left: 19px;

    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.95px;
    line-height: 44px;

    @media (min-width: $b_desktop) {
      padding-left: 0;
    }
  }

  &_row {
    @media (min-width: $b_desktop) {
      display: flex;
    }
  }

  &_col {

  }

  &_item {
    display: flex;
    align-items: center;
    padding: 0 16px 25px;

    @media (min-width: $b_desktop) {
      padding-left: 0;
    }
  }

  &_icon {
    display: block;
    flex-shrink: 0;
    width: 39px;
    height: 39px;
    margin-right: 20px;
  }

  &_text {
    color: rgba(255, 255, 255, .8);
    font-family: Muller, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
}
