@import '../vars';

.instagram {
  &_wrap {
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
  }

  &_note {
    display: block;
    padding-top: 30px;
    padding-left: 24px;
    padding-bottom: 20px;

    color: rgba(0, 0, 0, .4);
    font-family: Muller, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    @media (min-width: $b_desktop) {
      padding-left: 0;
    }
  }

  &_title {
    display: block;
    padding-left: 23px;
    margin-bottom: 50px;

    color: #03032a;
    font-family: Muller, sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.95px;
    line-height: 30px;

    @media (min-width: $b_desktop) {
      max-width: 373px;
      padding-left: 0;

      color: #03032a;
      font-family: Muller, sans-serif;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -1.36px;
      line-height: 44px;
    }
  }

  &_pagination {
    order: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 164px;
    width: 100%;
    height: 78px;

    border-radius: 500px;
    background-image: linear-gradient(62deg, #0088ff 0%, #00a2ff 100%);

    @media (min-width: $b_desktop) {
      order: 0;
      margin-top: -130px;
    }
  }

  &_prev {
    width: 7px;
    height: 12px;
    margin-right: 17px;

    background-image: url(../img/icon-prev.svg);
  }

  &_dot {
    margin: 0 2px;
    width: 12px;
    height: 11px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .5);

    &.-active {
      background-color: #ffffff;
    }
  }

  &_next {
    width: 7px;
    height: 12px;
    margin-left: 17px;

    background-image: url(../img/icon-next.svg);
  }

  &_line {
    display: none;
    width: 125px;
    height: 4px;
    margin-top: 30px;
    margin-left: -77px;
    margin-bottom: 46px;

    background-color: #009cff;

    @media (min-width: $b_desktop) {
      display: block;
    }
  }

  &_slider {
    width: 100%;

    @media (min-width: $b_desktop) {
     width: 1110px;
    }
  }

  &_items {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $b_desktop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &_item {
    width: 293px;
    padding-bottom: 30px;
  }

  &_img {
    width: 100%;
  }

  &_name {
    display: block;
    padding-top: 10px;

    text-align: center;
    color: rgba(0, 0, 0, .35);
    font-family: Muller, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.54px;
    line-height: 31px;
  }
}
