@import '../vars';

.know {
  @media (min-width: $b_desktop) {
    width: 50%;
    flex-shrink: 0;
    margin: 0;
    border-radius: 0 0 0 25px;
    overflow: hidden;
  }

  @media (max-width: $b_tablet) {
    max-width: 650px;
    margin: auto;
    margin-right: 0;
  }

  @media (max-width: $b_mobile) {
    width: 100%;    
    max-width: none;
    height: 560px;
  }

  &_item {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
  }

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

    filter: blur(3px);

    &.-mobile {
      @media (max-width: $b_desktop) {
        display: none;
      }
    }

    &.-desktop {
      @media (min-width: $b_desktop) {
        display: none;
      }
    }
  }

  &_note {
    display: block;
    padding-top: 37px;
    padding-left: 16px;
    padding-bottom: 21px;

    color: rgba(255, 255, 255, .6);
    font-family: Muller, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    @media (min-width: $b_desktop) {
      padding-top: 60px;
      padding-left: 43px;
      padding-bottom: 12px;
    }
  }

  &_title {
    display: block;
    padding-left: 14px;
    padding-right: 14px;

    color: #ffffff;
    font-family: Muller, sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.95px;
    line-height: 30px;

    @media (min-width: $b_desktop) {
      width: 384px;
      padding-left: 43px;

      font-size: 40px;
      letter-spacing: -1.36px;
      line-height: 44px;
    }
  }

  &_icon {
    margin-top: 26px;
    margin-left: 16px;
    margin-bottom: 30px;
    max-width: 59px;
    max-height: 59px;
    object-fit: contain;
    object-position: center;

    @media (min-width: $b_desktop) {
      display: inline-block;
      vertical-align: top;
      margin-top: 50px;
      margin-left: 43px;
    }
  }

  &_text {
    display: block;
    padding: 0 16px 0 15px;

    color: rgba(255, 255, 255, .8);
    font-family: Muller, sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.13px;
    line-height: 20px;

    @media (min-width: $b_desktop) {
      display: inline-block;
      vertical-align: top;
      margin-top: 50px;
      margin-left: 42px;
      width: 427px;
      padding: 0;
      font-size: 15px;
    }

    @media (max-width: $b_tablet) {
      width: auto;
      padding-right: 20px;
    }

    p {
      margin-bottom: 20px;

      @media (min-width: $b_desktop) {
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  &_gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-image: linear-gradient(31deg, #009eff 0%, rgba(2, 29, 146, 0) 100%);

    @media (min-width: $b_desktop) {
      background-image: linear-gradient(62deg, #009eff 0%, rgba(2, 29, 146, 0) 100%);
    }

    @media (max-width: $b_tablet) {
      background-image: linear-gradient(40deg, #009eff 0%, rgba(2, 29, 146, 0) 70%);
    }
  }

  &_pagination {
    bottom: 25px !important;
    margin-left: 16px;
    text-align: left;

    @media (min-width: $b_desktop) {
      margin-left: 145px;
    }

    @media (max-width: $b_mobile) {
      bottom: 35px !important;
    }
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 13px;
    margin-left: 0;
    margin-right: 11px;

    background-color: rgba(255, 255, 255, .6);
  }

  .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, .9);
  }
}
