.menu {
  position: fixed;
  top: 49px;
  left: 0;
  z-index: 9999;

  display: none;
  width: 100%;
  min-height: calc(100vh - 49px);
  padding-top: 17px;
  padding-left: 17px;
  padding-right: 12px;
  box-sizing: border-box;
  overflow: hidden;

  background-size: cover;

  &_bg {
    content: '';
    z-index: -1;

    position: absolute;
    top: -100px;
    left: -100px;

    width: 9999px;
    height: 99999px;

    filter: blur(5px);
    background-color: rgba(0, 0, 0, .9);
  }


  &.-open {
    display: block;
  }

  &_header {
    display: flex;
    align-items: center;
    padding-bottom: 14px;

    border-bottom: 1px solid rgba(255, 255, 255, .4);

    color: #ffffff;
    font-family: Muller, sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 19px;
  }

  &_close {
    display: block;
    width: 18px;
    height: 18px;
    padding: 0;
    margin-left: auto;
    margin-right: 4px;

    border: 0;
    background-color: transparent;
    background-image: url(../img/icon-x.svg);
    background-size: cover;
  }

  &_content {
    display: flex;
    padding-top: 22px;
    justify-content: space-between;
  }

  &_col {
    flex-shrink: 0;
  }

  &_contact {
    margin: 0;
    padding: 0;
  }

  &_item {
    display: block;
    margin-bottom: 21px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &_name {
    display: block;

    color: rgba(255, 255, 255, .8);
    font-family: Muller, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.27px;
  }

  &_link {
    color: rgba(255, 255, 255, .4);
    font-family: Muller, sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -0.34px;
    text-decoration: none;
  }

  &_social {
    margin-top: 29px;
  }

  &_nav {

  }
}
