.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

  display: none;
  align-items: center;
  justify-content: center;

  &.-open {
    display: flex;
  }

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: .8;

    background-color: #070a21;
  }

  &_content {
    position: relative;

    width: 200px;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;

    cursor: pointer;
  }

  &_close {
    position: absolute;
    top: 18px;
    right: 18px;

    display: block;
    width: 18px;
    height: 18px;

    background-image: url(../img/icon-x-black.svg);
    background-size: cover;
  }

  &_title {
    display: block;
    margin-top: 40px;
    margin-bottom: 30px;

    color: #03032a;
    font-family: Muller, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 16px;
  }

  &_list {

  }

  &_item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    text-decoration: none;
  }

  &_icon {
    display: block;
    width: 52px;
    height: 52px;
    margin-right: 18px;
    flex-shrink: 0;
    background-repeat: no-repeat;

    &.-wa {
      background-image: url(../img/WhatsApp.svg);
    }

    &.-tg {
      background-image: url(../img/icon-tg.svg);
      border-radius: 50%;
    }

    &.-email {
      background-image: url(../img/icon-email.svg);
    }

    &.-tel {
      background-image: url(../img/icon-tel.svg);
    }
  }

  &_name {
    color: #242424;
    font-family: Muller, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
