.nav {
  display: flex;
  align-items: center;
  padding-top: 34px;

  &_link {
    display: block;
    margin: 0 11px;
    padding-top: 2px;

    color: #ffffff;
    font-family: Muller, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.27px;
    line-height: 20px;
    text-decoration: none;

    &.-btn {
      border-radius: 50px;
      background-image: linear-gradient(180deg, #0088ff 0%, #00a2ff 100%);
      padding: 16px 29px 9px 27px;
    }
  }
}
