.navMobile {
  text-align: right;

  &_link {
    display: block;
    padding-bottom: 26px;
    padding-right: 4px;

    color: #fff;
    font-family: Muller, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.61px;
    line-height: 15px;
    text-decoration: underline;

    &:last-child {
      padding-bottom: 0;
    }
  }
}
