@import '../vars';

.noteHelp {
  display: flex;
  padding-left: 35px;

  background-image: linear-gradient(180deg, #0088ff 0%, #00a2ff 100%);

  text-decoration: none;
  border-radius: 25px 25px 0 0;

  transition: .3s;

  @media (max-width: $b_mobile) {
    border-radius: 0;
  }

  &_icon {
    display: block;
    width: 44px;
    height: 48px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-shrink: 0;

    background-image: url(../img/icon-question.svg);

    @media (min-width: $b_desktop) {
      margin-top: 40px;
      margin-right: 32px;
      margin-bottom: 30px;
    }
  }

  &_content {
    color: white;
    padding-top: 23px;

    @media (min-width: $b_desktop) {
      padding-top: 29px;
      padding-right: 40px;
    }
  }

  &_text {
    display: block;
    padding-bottom: 5px;

    color: rgba(255, 255, 255, .9);
    font-family: Muller, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.22px;
    line-height: 16px;

    span {
      display: none;

      @media (min-width: $b_desktop) {
        display: block;
      }
    }
  }

  &_name {
    font-family: Muller, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.43px;
    line-height: 24px;

    @media (min-width: $b_desktop) {
      font-size: 24px;
      letter-spacing: -0.58px;
    }
  }
}
