@import '../vars';

.noteCalendar {
  display: flex;

  &_icon {
    display: block;
    margin-left: 15px;
    margin-right: 16px;
    width: 27px;
    height: 28px;
    flex-shrink: 0;

    background-image: url(../img/icon-time.svg);

    @media (min-width: $b_desktop) {
      margin-left: 0;
    }
  }

  &_content {

  }

  &_name {
    color: #ffffff;
    font-family: Muller, sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.58px;
    line-height: 1;

    a {
      display: none;
      color: currentColor;

      @media (min-width: $b_desktop) {
        display: inline;
      }
    }
  }

  &_date {
    display: block;
    max-width: 193px;
    margin-top: 5px;

    color: rgba(255, 255, 255, .6);
    font-family: Muller, sans-serif;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: $b_desktop) {
      max-width: 370px;
    }
  }
}
