@import '../vars';

.numbers {
  font-family: Muller, sans-serif;

  &_item {
    display: flex;
    align-items: center;
    margin-left: 17px;
    margin-bottom: 10px;
    margin-right: 10px;

    @media (min-width: $b_desktop) {
      margin-left: 0;
    }
  }

  &_number {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 72px;
    height: 37px;
    margin-right: 18px;
    flex-shrink: 0;

    border-radius: 150px;
    background-image: linear-gradient(63deg, #0088ff 0%, #00a2ff 100%);

    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 35px;
  }

  &_text {

  }
}
