@import '../vars';

$progress-bar-stroke-width: 1.8;

.progressBar {
  display: flex;

  &_svg {
    height: 54px;
    width: 54px;
    transform: rotate(-90deg);

    @media (min-width: $b_desktop) {
      height: 80px;
      width: 80px;
    }
  }

  &_background {
    fill: none;
    stroke: rgba(255, 255, 255, .6);
    stroke-width: 2px;
  }

  &_progress {
    fill: none;
    stroke: #008fff;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 100;
    stroke-linecap: round;
    stroke-width: 3px;
    // transition: stroke-dashoffset 3000ms ease-in-out;
  }

  &_status {
    position: absolute;
    top: 50%;
    left: 50%;

    margin: auto;
    height: 16px;
    width: 13px;
    box-sizing: border-box;

    border-left: 4px solid rgba(255, 255, 255, .6);
    border-right: 4px solid rgba(255, 255, 255, .6);
    transform: translate(-50%, -50%);
    transition: all .3s;

    @media (min-width: $b_desktop) {
      width: 16px;
      height: 21px;
    }
  }

  &.-pause &_status {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 13.9px;
    border-color: transparent transparent transparent #008fff;

    @media (min-width: $b_desktop) {
      border-width: 10.5px 0 10.5px 18.2px;
    }
  }
}
