@import '../vars';

.reading {
    display: flex;
    // max-width: $b_desktop;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;

	  @media (max-width: $b_mobile) {
	  	display: block;
	  }

  &_col {

  }
}
