@import '../vars';

.review {
  max-width: 436px;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 40px;
  box-sizing: border-box;

  font-family: Muller, sans-serif;

  @media (min-width: $b_desktop) {
    padding: 0;
  }

  @media (max-width: $b_tablet) {
    max-width: none;
  }

  &_header {
    display: flex;
    flex-direction: column;

    @media (min-width: $b_desktop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &_col {
    &:first-child {
      order: 1;
    }
    &:last-child {
      order: 0;
    }

    @media (min-width: $b_desktop) {
      &:first-child {
        order: 0;
      }
    }
  }

  &_name {
    display: block;

    color: #03032a;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.85px;
    line-height: 44px;
  }

  &_link {
    display: block;

    color: #008eff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.48px;
  }

  &_course {
    display: block;
    margin-top: 12px;

    color: rgba(0, 0, 0, .4);
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
  }

  &_content {
    margin-top: 26px;

    color: rgba(0, 0, 0, .8);
    font-size: 13px;
    letter-spacing: -0.13px;
    line-height: 20px;

    @media (min-width: $b_desktop) {
      font-size: 15px;
      letter-spacing: -0.15px;
      line-height: 21px;
    }
  }

  &_video {
    position: relative;

    width: 289px;
    height: 172px;
    border-radius: 15px;
    background-image: linear-gradient(58deg, #0088ff 0%, #00a2ff 100%);

    &::after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 28px;
      height: 32px;

      background-image: url(../img/icon-play.svg);
      background-repeat: no-repeat;

      transform: translate(-50%, -50%);
    }

    @media (min-width: $b_desktop) {
      width: 436px;
      height: 256px;
      border-radius: 25px;
      background-image: linear-gradient(59deg, #0088ff 0%, #00a2ff 100%);

      &::after {
        width: 51px;
        height: 60px;
        background-size: cover;
      }
    }

    @media (max-width: $b_tablet) {
      width: 100%;
      height: 400px;
    }

    @media (max-width: $b_mobile) {
      width: 100%;
      height: 53.4vw;
    }
  }

  &_audio {

  }
}
