@import '../vars';

.reviews {
  margin-top: 48px;
  background-color: #f3f3f3;
  font-family: Muller, sans-serif;

  @media (min-width: $b_desktop) {
    margin-top: 0;
  }

  &_wrap {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  &_note {
    display: block;
    padding-top: 29px;
    padding-left: 14px;
    margin-bottom: 21px;

    color: rgba(0, 0, 0, .4);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    @media (min-width: $b_desktop) {
      padding-top: 51px;
      padding-left: 0;
      margin-bottom: 12px;
    }
  }

  &_title {
    display: block;
    padding-left: 13px;

    color: #03032a;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.95px;
    line-height: 30px;

    @media (min-width: $b_desktop) {
      padding-left: 0;

      color: #03032a;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -1.36px;
      line-height: 44px;
    }
  }

  &_all {
    display: block;
    padding-left: 13px;
    margin-bottom: 54px;

    order: 1;
    color: rgba(0, 0, 0, .35);
    font-family: Muller, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -0.88px;
    line-height: 35px;
    text-decoration: none;

    &::after {
      content: '';

      display: block;
      width: 139px;
      height: 4px;
      background-color: rgba(0, 0, 0, .35);
    }

    @media (min-width: $b_desktop) {
      padding: 0;
      order: 0;
      text-align: center;
      padding-left: 40px;
      margin-top: -45px;
      margin-bottom: 0;

      &::after {
        margin: 0 auto;
      }
    }
  }

  &_line {
    display: block;
    margin-top: 33px;
    margin-bottom: 22px;

    width: 61px;
    height: 4px;

    background-color: #009cff;

    @media (min-width: $b_desktop) {
      width: 125px;
      margin-left: -77px;
      margin-bottom: 51px;
    }
  }

  &_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &_col {
    width: 100%;

    @media (min-width: $b_desktop) {
      width: 50%;
    }
  }
}
