@import '../vars';

.slider {

  &_wrapper {

  }

  &_slide {
    position: static;

    padding-left: 15px;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;

    @media (min-width: $b_desktop) {
      padding-left: 123px;
    }
  }

  &_name {
    display: block;
    margin-bottom: 21px;
    max-width: 172px;

    color: rgba(255, 255, 255, .6);
    font-family: Muller, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    @media (min-width: $b_desktop) {
      max-width: 664px;
      font-size: 15px;
    }
  }

  &_title {
    display: block;
    max-width: 670px;

    font-family: Muller, sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1.36px;
    line-height: 43px;
    color: white;

    @media (min-width: $b_desktop) {
      font-size: 60px;
      line-height: 63px;
      letter-spacing: -2.04px;
    }
  }

  &_more {
    position: relative;

    display: inline-block;
    margin-top: 36px;

    color: #008fff;
    font-family: Muller, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.61px;
    line-height: 24px;
    text-decoration: none;

    @media (min-width: $b_desktop) {
      margin-top: 59px;

      font-size: 26px;
      letter-spacing: -0.88px;
    }

    &::after {
      content: '';

      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;

      display: block;
      height: 2px;

      background-color: #008fff;

      @media (min-width: $b_desktop) {
        bottom: -18px;
        height: 4px;
      }
    }
  }

  &_bg {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
  }

  &_pagination {
    left: 239px !important;
    bottom: 24px !important;

    display: flex;
    justify-content: space-between;
    max-width: 65px;

    @media (min-width: $b_desktop) {
      top: 132px;
      left: 35px !important;
      bottom: auto !important;

      flex-direction: column;
      width: 12px;
    }
  }

  .swiper-pagination-bullet {
    margin: 0 !important;
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    opacity: 0.6;

    @media (min-width: $b_desktop) {
      width: 12px;
      height: 12px;
      margin-bottom: 11px !important;
    }
  }

  .swiper-pagination-bullet-active {
    opacity: .9;
  }

  &_progressBar {
    position: absolute;
    left: 169px;
    bottom: 2px;
    z-index: 50;

    @media (min-width: $b_desktop) {
      top: 30px;
      left: 0;
      bottom: auto;
    }
  }
}
