@import '../vars';

.social {
  display: flex;
  align-items: center;

  &_link {
    margin-right: 13px;
    background-size: cover;

    &.-inst {
      display: block;
      width: 23px;
      height: 22px;

      opacity: .5;
      background-image: url(../img/icon-instagram.svg);

      @media (min-width: $b_desktop) {
        width: 18px;
        height: 17px;
      }
    }

    &.-fb {
      display: block;
      width: 10px;
      height: 19px;

      opacity: .45;
      background-image: url(../img/icon-facebook.svg);

      @media (min-width: $b_desktop) {
        width: 8px;
        height: 15px;
        opacity: 0.5;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
