@import '../vars';

.survey {
  background-image: linear-gradient(84deg, #0088ff 0%, #00a2ff 100%);

  @media (max-width: $b_desktop) {
    display: none;
  }

  &_row {
    display: flex;
    max-width: 1124px;
    width: 100%;
    margin: 0 auto;
    padding-right: 68px;
    box-sizing: border-box;
  }

  &_col {

  }

  &_note {
    display: block;
    padding-top: 39px;
    padding-bottom: 12px;

    color: rgba(255, 255, 255, .8);
    font-family: Muller, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }

  &_title {
    display: block;

    color: #ffffff;
    font-family: Muller, sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1.36px;
    line-height: 44px;
  }

  &_btns {
    display: flex;
    width: 206px;
    height: 98px;
    margin-top: 54px;
    margin-bottom: 44px;

    border-radius: 500px;
    background-color: #ffffff;
  }

  &_btn {
    width: 50%;
    height: 100%;

    border: 0;
    background-color: transparent;

    color: #009fff;
    font-family: Muller, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.68px;
    line-height: 44px;

    cursor: pointer;
  }

  &_delimiter {
    margin: auto 0;
    width: 3px;
    height: 34px;
    background-color: #009dff;
  }
}
