@import '../vars';

.welcome {
  position: relative;
  height: 734px;

  &_wrap {
    max-width: 1354px;
    margin: 0 auto;
  }

  &_backgrounds {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-size: cover;
    background-position: 50% 50%;

    opacity: 0;
    transition: opacity 1s linear;

    &._visible {
      opacity: 1;
    }

    &._0 {
      background-image: url(../img/bg-welcome.png);
    }

    &._1 {
      background-image: url(../img/2.jpg);
    }

    &._2 {
      background-image: url(../img/1.jpg);
    }

    &._3 {
      background-image: url(../img/3.jpg);
    }

    @media (min-width: $b_desktop) {
      background-image: url(../img/bg-welcome.png);
    }
  }

  &_header {

  }

  &_slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
  }

  &_wrapper {
    position: relative;
    left: -168px;
    top: 220px;

    width: 1000px;
    margin: auto;
    overflow: hidden;

      @media (max-width: $b_tablet) {
        width: 550px;
        left: -23%;
      }

      @media (max-width: 1000px) {
        width: 550px;
        left: -20%;
      }

      @media (max-width: 900px) {
        width: 550px;
        left: -18%;
      }

      @media (max-width: 820px) {
        width: 550px;
        left: -10%;
      }

      @media (max-width: 700px) {
        width: 550px;
        left: -5%;
      }

      @media (max-width: 590px) {
        width: 350px;
        left: 30px;
        margin: 0;
      }

      @media (max-width: 400px) {
        width: 310px;
        left: 0;
      }
  }

  &_footer {
      position: absolute;
      bottom: 0;

      // зачем эти 0.5 пкс?
      width: 1354.5px;

      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      // padding-right: 116px + 112px;
      box-sizing: border-box;

      @media (max-width: 1402px) {
        width: 100%;
        left: 0;
      } 

      @media (max-width: $b_mobile) {
        display: block;
      }
  }

  &_footerCol {
    @media (min-width: $b_desktop) {
      display: flex;
      width: 50%;
    }

    @media (max-width: $b_tablet) {
      display: flex;
      width: 50%;

        &:last-child {
          max-width: 650px;
        }
    }

    @media (max-width: $b_mobile) {
      width: 100%;

        &:last-child {
          width: 100%;
          max-width: none;
          margin-left: auto;
        }
    }
  }

  &_noteCalendar {
    padding-top: 93px;
    padding-bottom: 32px;

    @media (min-width: $b_desktop) {
      margin-left: 119px;
      padding-top: 135px;
      padding-bottom: 44px;
    }
  }

  .noteHelp {
    margin-right: auto;

    transition: .3s;

      @media (max-width: $b_tablet) {
        width: 100%;
      }
  }
}
